.login-form-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  display: flex;
  flex-direction: column;
}

.login-form img {
  align-self: center;
  display: block;
  width: 305px;
}

.login-form h1 {
  align-self: center;
  font-size: 28px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 500;
  color: #e27b7b;
}

.login-form button {
  align-self: center;
  font-size: 24px;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
  color: #fff;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  margin-top: 15px;
  background-color: #e38080;
  height: 50px;
  width: 145px;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.25);
  transition: all 0.2s ease-in-out;
  border-radius: 58px;
}

.login-form button:hover {
  background-color: #efa4a4;
}

.login-form input {
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 800;
  font-size: 24px;
  color: #625a5a;
  text-align: center;
  border: none;
  outline: none;
  align-self: center;
  background-color: #d9d9d9;
  width: 320px;
  height: 50px;
  border-radius: 58px;
}

button:disabled {
  cursor: not-allowed;
  background-color: #d9d9d9;
  color: #625a5a;
}

button:disabled:hover {
  background-color: #d9d9d9;
  color: #625a5a;
}
