.not-found-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.not-found-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 900px;
  position: absolute;
  top: 60px;
  z-index: -1;
}

.not-found-container img {
  width: 580px;
}

.not-found-container h1 {
  text-align: center;
  font-family: "M PLUS Rounded 1c", sans-serif;
  font-weight: 300;
  font-size: 48px;
  color: #625a5a;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.logo-container img {
  width: 240px;
}

@media screen and (max-width: 850px) {
  .not-found-container {
    width: 100%;
  }
  .not-found-container img {
    width: 100%;
  }
  .logo-container {
    margin-top: 0;
  }
  .logo-container img {
    width: 240px;
  }
}

@media screen and (max-width: 768px) {
  .not-found-container {
    flex-direction: column-reverse;
    width: 100%;
    position: relative;
  }

  .not-found-container h1 {
    font-size: 36px;
  }

  .not-found-container img {
    width: 100%;
    position: absolute;
    top: 75px;
  }
  .logo-container {
    margin-top: 0;
  }
  .logo-container img {
    width: 240px;
  }
}

@media screen and (max-width: 480px) {
  .not-found-container {
    flex-direction: column;
    width: 100%;
    position: relative;
  }

  .not-found-container h1 {
    font-size: 30px;
  }
  .not-found-container img {
    width: 100%;
    position: absolute;
    top: 75px;
  }
  .logo-container {
    margin-top: 0;
  }
  .logo-container img {
    width: 240px;
  }
}
